# 这个文件直接在 vscode 里面是不起效的
# 要把配置弄到被忽略的 sdkconfig 里面才行。
# CONFIG_PARTITION_TABLE_CUSTOM 默认被注释掉， 必须等于 y 时，才能使用自定义分区。
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"


# 通过此项来设置打开 OTA
CONFIG_PARTITION_TABLE_TWO_OTA=y


# 闪存大小需要通过如下 2个配置设置
# CONFIG_ESPTOOLPY_FLASHSIZE_1MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_32MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_64MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_128MB is not set

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

